<style>
 

    .custom-section {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb, #d0e6a5, #e8e9a1);
    margin:auto;
    width:fit-content;
    padding:3px;
  }
</style>

<div class="custom-section">
    JustSaying Hii
</div>